.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.status {
  color: white;
  padding: 0.2rem;
  border-radius: 10%;
  font-size: 0.8rem;
}

.active {
  background-color: green;
}

.inactive {
  background-color: gray;
}

.email{
  margin-top: 2rem;
}

.phone {
  margin-top: 1rem;
}

.title {
  font-weight: 600;
}
